.menu {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   right: -120%;
   transition: all 0.5s;
   z-index: 20;

   &-active {
      right: 0;
   }


   &__nav {
      width: 300px;
      height: 100vh;
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      right: 0;
      padding: 100px 30px;
   }


   &__close {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 30px;
      cursor: pointer;
   }

   &__list {
      list-style-type: none;
      margin-bottom: 20px;
      margin-left: 30px;

      a {
         color: black;

      }
   }

   &__item {
      position: relative;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px;

      &:after {
         content: '';
         display: block;
         width: 12px;
         height: 12px;
         border-radius: 100%;
         border: 1px solid black;
         position: absolute;
         top: 11px;
         left: -20px;
      }

      &-active {
         &:after {
            background-color: rgb(83, 83, 83);
         }

         font-weight: 700;
      }

      &:hover:after {
         background-color: black;
      }

   }

   &__social {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      display: flex;
      justify-content: space-around;
   }
}



@media (max-width: 575px) {
   .menu {
      &__nav {
         width: 100%;
         opacity: 0.8;
         display: flex;
         align-items: start;
         justify-content: center;
         padding-top: 130px;
      }

      &__close {
         right: 35px;
      }

      &__list {
         width: 160px;
      }

      &__item {

         font-size: 25px;

         &:after {
            top: 14px;
         }
      }
   }
}